* {
    margin:0;
}
body {
   background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStYPT2p3P675TxnoIrFJiyuBy8PxyVS4wpxQ&usqp=CAU");
   
}
.head {
   padding:15px;
   text-align:center;
   color:white;
}
.head text {
   font-size:35px;
   text-shadow:1px 1px 3px white;
}
.head em {
   font-family:Fantasy;
}
hr {
   width:100px;
   height:1px;
   margin:10px;
}
.main {
   border:1px solid rgba(255,255,255,0.1);
   backdrop-filter:blur(20px);
   margin:10px;
   border-radius:15px;
   text-align:center;
   box-shadow:1px 1px 5px white;
}
.main h2 {
   margin:5px;
   font-family:serif;
   color:white;
   border-radius:6px;
}
.main form {
   font-family:Georgia;
   color:white;
   margin:20px;
}
.main form .tb {
   background-color:rgba(204, 179, 255, 0.2);
   border:none;
   width:80%;
   height:26px;
   border-radius:10px;
   margin:20px;
   margin-top:5px;
   color:white;
   box-shadow:1px 1px 3px rgba(255,255,255,0.3);
   padding:10px;
   text-align:center;
}
.main form #spec {
   padding:0;
}
.main form #spec option {
    background-color:#a64dff;
}
.main form #rad {
   height:auto;
   margin-left:auto;
   margin-right:auto;
}
.main form #ta {
   text-align:left;
   font-size:15px;
}
.main form #rad #items {
   width:30%;
   text-align:left;
   margin-left:auto;
   margin-right:auto;
}
.main form #rad #items2 {
   width:90%;
   text-align:left;
   margin-left:auto;
   margin-right:auto;
}
.main form #typed input {
   font-size:15px;
}
.btn {
   width:100px;
   height:35px;
   border:none;
   font-size:16px;
   font-family:Serif;
   color:white;
   margin:10px;
   border-radius:5px;
   box-shadow:1px 1px 3px gray;
}
#clr {
   background:rgb(194, 153, 255);
}
#sbt {
   background:rgb(148, 77, 255);
}
.foot {
   color:white;
   margin:10px;
}
.foot p {
   text-align:center ;
   font-family:georgia;
}
.foot p a {
   color:white;
   text-decoration:none;
}
#welc {
   filter:blur(3px);
   pointer-events:none;
   transition:1s;
}
.box {
   text-align:center;
   font-family:serif;
   width:73%;
   height:30%;
   background-color:rgba(204, 179, 255,0.7);
   position:fixed;
   top:32%;
   left:10%;
   border-radius:20px;
   padding:10px;
   padding-top:0px;
   animation-name:moveup;
   animation-duration:0.5s;
   transition:1s;
   box-shadow:1px 1px 3px rgba(255,255,255,0.5);
}
.box img {
   width:100px;
}
.box span {
   color:purple;
   font-size:15px;
}
#open {
   background-color:rgb(160, 20, 255);
}
@keyframes moveup {
   0% {
       top:34%;
       display:none;
   }
   90% {
       top:31%;
   }
   100% {
       top:32%;
       display:auto;
   }
}
/* Responsiveness */
@media screen and (min-width:600px) {
    .main {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

}
@media screen and (min-width:800px) {
    .main {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:435px) {
    .head text {
        font-size: 25px;
    }
    .head em {
        font-size: 10px;
    }
}
